spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/performance_assessment_dev}
    username: ${DB_USER:root}
    password: ${PASSWORD:password}
    
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE